<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>예측 생산량 제공 웹 페이지</title>

    <link rel="stylesheet" href="https://pyscript.net/latest/pyscript.css"/>
    <script defer src="https://pyscript.net/latest/pyscript.js"></script>
</head>
<body>

<py-config>
    packages = ["pandas", "folium"]
</py-config>

<py-script>
    import json
    import pandas as pd
    import folium
    from folium.plugins import MarkerCluster, MiniMap, MousePosition, LocateControl

    # productivity DataFrame 생성
    productivity = pd.DataFrame({
        '행정구역': ['강원도', '경기도', '경상남도', '경상북도', '광주광역시', '대구광역시', '대전광역시', '부산광역시',
                 '서울특별시', '세종특별자치시', '울산광역시', '인천광역시', '전라남도', '전라북도', '제주특별자치도', '충청남도', '충청북도'],
        '생산량': [500, 10, 1000, 2100, 3100, 1100, 800, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100]
    })

    # 지도 생성
    m = folium.Map(location=(36.060572704407484, 128.13569043038126), tiles='OpenStreetMap', zoom_start=7)

    # JSON 파일을 utf-8 인코딩으로 읽기
    with open('C:/Users/82102/Desktop/product/templates/product/TL_SCCO_CTPRVN.json', encoding='utf-8') as f:
        geo_data = json.load(f)

    # Choropleth 레이어 추가
    choropleth = folium.Choropleth(
        geo_data=geo_data,
        data=productivity,  # productivity DataFrame을 지정
        columns=['행정구역', '생산량'],  # '행정구역'과 '생산량'을 매핑
        key_on='feature.properties.CTP_KOR_NM',  # 지도 데이터의 'CTP_KOR_NM'을 기준으로 연결
        fill_color='YlGn',  # 색상 팔레트 설정
        fill_opacity=0.7,  # 채우기 색상의 투명도 설정 (0.0 ~ 1.0)
        line_opacity=0.2,
        legend_name='생산량',  # 범례 이름 설정
        highlight=True,  # 마우스 오버 시 강조 설정
        name='choropleth',  # 레이어 이름
    ).add_to(m)

    # 레이어 컨트롤 추가
    folium.LayerControl().add_to(m)

    # 지도를 표시
    m
</py-script>
</body>
</html>