
<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Map Price Image</title>
</head>
<body>
    <div id="mapContainer">
        <!-- Map image will be displayed here -->
    </div>

    <script>
        // 데이터
        var latitude = 37.5666502857805;
        var longitude = 127.31259030366;

        // 이미지 생성
        var mapContainer = document.getElementById("mapContainer");
        var imageUrl = "http://api.vworld.kr/ned/wms/getIndvdLandPriceWMS?apiKey=E739356B-02E6-3D72-BF19-C82D8E68E834&domain=localhost&layers=dt_d150&crs=EPSG:4326&bbox=" + latitude + "," + longitude + "," + (latitude + 0.002) + "," + (longitude + 0.004) + "&width=500&height=300&format=image/png&transparent=false&bgcolor=0xFFFFFF&exceptions=blank";
        
        // 이미지 표시
        mapContainer.innerHTML = '<img src="' + imageUrl + '" alt="Map Image">';
    </script>
</body>
</html>
